<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>

  <add name="BookingTekEntities" connectionString="metadata=res://*/EntityModel.BookingTekEntityModel.csdl|res://*/EntityModel.BookingTekEntityModel.ssdl|res://*/EntityModel.BookingTekEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=BookingTek;user id=;password=;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

</connectionStrings>